Source: ros-indigo-neo-base-mp-400
Section: misc
Priority: extra
Maintainer: Neobotix <nieland@neobotix.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-cob-sick-s300, ros-indigo-neo-platformctrl-diff, ros-indigo-neo-relayboard
Homepage: http://www.neobotix-robots.com
Standards-Version: 3.9.2

Package: ros-indigo-neo-base-mp-400
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-cob-sick-s300, ros-indigo-neo-platformctrl-diff, ros-indigo-neo-relayboard
Description: launchfiles for MP_400
