Source: ros-indigo-neo-relayboard
Section: misc
Priority: extra
Maintainer: Neobotix <nieland@neobotix.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-neo-msgs, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-std-msgs
Homepage: http://www.neobotix-robots.com
Standards-Version: 3.9.2

Package: ros-indigo-neo-relayboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-neo-msgs, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-std-msgs
Description: Communication Node with neo_relayboard
