Source: ros-indigo-neo-msgs
Section: misc
Priority: extra
Maintainer: Neobotix <nieland@neobotix.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-message-generation, ros-indigo-std-msgs
Homepage: http://www.neobotix-robots.com
Standards-Version: 3.9.2

Package: ros-indigo-neo-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-message-runtime, ros-indigo-std-msgs
Description: This package contains copies of former pr2_msgs (ported to ROS indigo) as well as new messages for neobotix robots.
