<?xml version="1.0"?>
<launch>
	
	<!-- upload parameters -->
	<rosparam command="load" ns="relayboard" file="$(find neo_base_mp_400)/ros/launch/serrelay/$(env ROBOT).yaml"/>
	
	<!-- start relayboard node -->
	<node pkg="neo_relayboard" type="neo_relayboard_node" ns="relayboard" name="relayboard_node" respawn="false" output="screen"/>
		<remap from="cmd_joint_traj" to="cmd_drives"/>


</launch>
